.Styles{
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    background-color:rgb(20,20,20);
    color:rgb(229,9,20) ;
    display: flex;
    
}
.Iconslabel{
    color:rgb(229,9,20);
}







